In [10]:
# Import necessary libraries
from pybaseball import batting_stats
import pandas as pd

pd.reset_option('display.max_columns')

# Fetch batting stats data for the years 2015 to 2022
data = batting_stats(2015, 2022)

# Look at the first few rows of the DataFrame
print(data.head())

     IDfg  Season          Name Team  Age    G   AB   PA    H  1B  ...  maxEV
2   15640    2022   Aaron Judge  NYY   30  157  570  696  177  87  ...  118.4  \
4   13611    2018  Mookie Betts  BOS   25  136  520  614  180  96  ...  110.6
5   10155    2018    Mike Trout  LAA   26  140  471  608  147  80  ...  118.0
1   11579    2015  Bryce Harper  WSN   22  153  521  654  172  91  ...  116.0
27  10155    2015    Mike Trout  LAA   23  159  575  682  172  93  ...  117.7

    HardHit  HardHit%  Events  CStr%   CSW%  xBA  xSLG  xwOBA  L-WAR
2       246     0.609     404  0.169  0.287  NaN   NaN    NaN   11.2
4       217     0.500     434  0.220  0.270  NaN   NaN    NaN   10.4
5       162     0.460     352  0.201  0.261  NaN   NaN    NaN    9.6
1       188     0.477     394  0.118  0.226  NaN   NaN    NaN    9.3
27      205     0.486     422  0.207  0.282  NaN   NaN    NaN    9.3

[5 rows x 320 columns]

In [3]:

# Check for missing values
print(data.isnull().sum())

IDfg         0
Season       0
Name         0
Team         0
Age          0
          ...
CSW%         0
xBA       1110
xSLG      1110
xwOBA     1110
L-WAR        0
Length: 320, dtype: int64

In [4]:
# Summary statistics
print(data.describe())

               IDfg       Season          Age            G           AB
count   1110.000000  1110.000000  1110.000000  1110.000000  1110.000000  \
mean   10694.104505  2018.428829    28.397297   134.400901   495.466667
std     5236.994431     2.279773     3.690921    32.009306   124.440759
min      393.000000  2015.000000    20.000000    44.000000   154.000000
25%     6012.000000  2016.000000    26.000000   134.000000   476.250000
50%    11200.000000  2018.000000    28.000000   145.000000   526.000000
75%    14344.000000  2020.000000    31.000000   153.750000   573.000000
max    27506.000000  2022.000000    41.000000   162.000000   681.000000

                PA            H           1B           2B           3B  ...
count  1110.000000  1110.000000  1110.000000  1110.000000  1110.000000  ...  \
mean    555.682883   133.098198    83.755856    26.629730     2.483784  ...
std     138.814283    38.128967    27.610632     9.461841     2.322744  ...
min     186.000000    32.000000    13.000000     3.000000     0.000000  ...
25%     533.000000   120.000000    70.000000    22.000000     1.000000  ...
50%     589.000000   139.000000    86.000000    27.000000     2.000000  ...
75%     647.000000   158.000000   102.000000    33.000000     4.000000  ...
max     747.000000   216.000000   170.000000    58.000000    14.000000  ...

             maxEV      HardHit     HardHit%       Events        CStr%
count  1110.000000  1110.000000  1110.000000  1110.000000  1110.000000  \
mean    111.247928   148.559459     0.383780   391.452252     0.161683
std       3.102663    47.351758     0.076791   107.610002     0.031239
min     101.900000    26.000000     0.085000    96.000000     0.076000
25%     109.200000   125.000000     0.339000   360.000000     0.141000
50%     111.100000   154.000000     0.389000   414.000000     0.161000
75%     113.200000   180.000000     0.431750   461.000000     0.182000
max     122.200000   274.000000     0.622000   599.000000     0.284000

              CSW%  xBA  xSLG  xwOBA        L-WAR
count  1110.000000  0.0   0.0    0.0  1110.000000
mean      0.262962  NaN   NaN    NaN     2.692342
std       0.025917  NaN   NaN    NaN     1.985149
min       0.175000  NaN   NaN    NaN    -3.100000
25%       0.246000  NaN   NaN    NaN     1.300000
50%       0.263000  NaN   NaN    NaN     2.500000
75%       0.281000  NaN   NaN    NaN     3.900000
max       0.355000  NaN   NaN    NaN    11.200000

[8 rows x 316 columns]

In [11]:
# List of numerical variables
num_vars = ['G', 'AB', 'H', '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO']

# List of categorical variables
cat_vars = ['Pos', 'Team']

In [12]:
print("\nDistributions of numerical variables:")
for var in num_vars:
    print(data[var].describe())

Distributions of numerical variables:
count    1110.000000
mean      134.400901
std        32.009306
min        44.000000
25%       134.000000
50%       145.000000
75%       153.750000
max       162.000000
Name: G, dtype: float64
count    1110.000000
mean      495.466667
std       124.440759
min       154.000000
25%       476.250000
50%       526.000000
75%       573.000000
max       681.000000
Name: AB, dtype: float64
count    1110.000000
mean      133.098198
std        38.128967
min        32.000000
25%       120.000000
50%       139.000000
75%       158.000000
max       216.000000
Name: H, dtype: float64
count    1110.000000
mean       26.629730
std         9.461841
min         3.000000
25%        22.000000
50%        27.000000
75%        33.000000
max        58.000000
Name: 2B, dtype: float64
count    1110.000000
mean        2.483784
std         2.322744
min         0.000000
25%         1.000000
50%         2.000000
75%         4.000000
max        14.000000
Name: 3B, dtype: float64
count    1110.000000
mean       20.228829
std        10.574220
min         0.000000
25%        12.000000
50%        19.000000
75%        28.000000
max        62.000000
Name: HR, dtype: float64
count    1110.000000
mean       69.418018
std        24.706210
min        10.000000
25%        53.000000
50%        70.500000
75%        87.000000
max       133.000000
Name: RBI, dtype: float64
count    1110.000000
mean        8.315315
std         9.192150
min         0.000000
25%         2.000000
50%         5.000000
75%        12.000000
max        62.000000
Name: SB, dtype: float64
count    1110.000000
mean        2.886486
std         2.852189
min         0.000000
25%         1.000000
50%         2.000000
75%         4.000000
max        20.000000
Name: CS, dtype: float64
count    1110.000000
mean       49.723423
std        22.703366
min         5.000000
25%        33.000000
50%        48.000000
75%        63.000000
max       145.000000
Name: BB, dtype: float64
count    1110.000000
mean      108.881081
std        38.724691
min        12.000000
25%        82.000000
50%       110.000000
75%       136.750000
max       219.000000
Name: SO, dtype: float64

In [13]:
print("\nCounts of categorical variables:")
for var in cat_vars:
    print(data[var].value_counts())

Counts of categorical variables:
Pos
 2.2     37
 2.3     33
 2.1     33
 1.8     26
 2.0     25
         ..
-15.5     1
 3.5      1
-8.6      1
 8.8      1
 9.1      1
Name: count, Length: 236, dtype: int64
Team
- - -    74
BOS      46
HOU      43
KCR      40
TOR      39
OAK      39
LAD      39
ATL      38
COL      38
NYY      38
SEA      36
TEX      36
CHW      35
PHI      35
PIT      34
ARI      34
CLE      34
CHC      34
CIN      34
BAL      33
NYM      33
MIL      32
MIN      31
SFG      31
WSN      31
STL      31
SDP      30
LAA      29
MIA      28
TBR      28
DET      27
Name: count, dtype: int64